/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$base-color-title: #000000;
$base-color-button: #68b738;
$special-color-text: #ffffff;
$catalog-color-title: #222222;
$font-title: "Oswald","Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 110px;
$tablet-size: 60px;
$tablet-line-height: 60px;
