.address--primary {
  background-color: #ffffff;
}

.address__container {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width:$tablet-width) {
    padding: 61px 70px;
  }
}

.address__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__text {
  line-height: 20px;
  font-style: normal;
  text-align: end;

  @media (min-width:$tablet-width) {
    font-size: 16px;
  }
}
