.advantages {
  margin-bottom: 49px;

  @media (min-width:$tablet-width) {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0;
  }
}

.advantages__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-title;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: $tablet-size;
    line-height: $tablet-line-height;
    margin-bottom: 32px;
    padding-top: 15px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 136px;
    row-gap: 23px;
    margin-bottom: 28px;
  }
}
