.advantages {
  padding: 20px;
}

.advantages__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-title;
}

.advantages__list {
  list-style: none;
  padding: 0;
}
