.card {
  list-style: none;
}

.card__title{
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  color: $catalog-color-title;
  text-transform: uppercase;
}

.card__details{
  font-size: 12px;
  line-height: 16px;
}

.card__more{
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.card__text{
  font-size: 12px;
  line-height: 16px;
}
