.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    padding: 0 40px;
  }
}

.container-form {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }
}
