.example {
  background-color: #eaeaea;
}

.example__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-title;
}

.example__total {
  font-family: $font-title;
  line-height: 20px;
  color: $base-color-title;
  text-transform: uppercase;
}
