.main-header {
  display: flex;
  justify-content: space-between;
  min-height: 38px;
  padding: 13px 20px 14px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 110px;
  }
}

.main-header__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
