.main-header {
  display: flex;
  justify-content: space-between;
  height: 38px;
  padding: 0 20px;

  @media (min-width: $tablet-widht) {
    height: 50px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    padding: 0 110px;
  }
}

.main-header__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
