.page__title{
  font-family: $font-title;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-title;
}

.page__description{
  font-family: $font-title;
  color: $base-color-title;
  text-transform: uppercase;
}
