.page__body {
  @media (min-width:$desktop-width) {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: -27%;
      width: 78%;
      height: 20%;
    }

    &::before {
      z-index: -1;
      background-color: rgba($base-color-button, 0.85);
    }

    &::after {
      z-index: -2;
      display: block;
      background-image: url("../../images/cat-bg-hero@1x.webp");
      background-position: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.page__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-title;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: $tablet-size;
    line-height: $tablet-line-height;
    padding-top: 65px;
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.page__description {
  font-family: $font-title;
  color: $base-color-title;
  text-transform: uppercase;
}
