.programs-item {
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 53px 52px;
    margin-bottom: 30px;
  }
}

.programs-item__title {
  font-family: $font-title;
  font-weight: 400;
  color: $base-color-title;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.programs-item__description {
  padding-bottom: 23px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 48px;
    border: none;
    width: 340px;
  }
}

.programs-item--slim::before {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../../images/icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  left: 21px;
  top: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    left: 63%;
    top: 22%;
  }
}

.programs-item--pro::before {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../../images/icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  left: 13px;
  top: 24px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    left: 60%;
    top: 24%;
  }
}

.programs-item__link {
  font-family: $font-title;
  font-size: 16px;
  line-height: 16px;
  color: $base-color-title;
  text-transform: uppercase;
  padding: 4px 47px 4px 0;
  position: relative;
  margin-top: 15px;
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.programs-item__link::after {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../../images/icons/stack.svg#arrow");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 12px;
  left: 102px;
  top: 35%;

  @media (min-width: $tablet-width) {
    left: 133px;
  }
}

.programs-item__link:active::after {
  opacity: 0.3;
}
