.site-list{
  list-style: none;
}

.site-list__link{
  color: $base-color-title;
  text-transform: uppercase;

  &:hover{
    color: rgba(0, 0, 0, 0.6);
  }
  &:focus{
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-list__item--active{
  border-bottom: 2px solid $base-color-button;
}
