.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid $border-color;

  @media (min-width:$tablet-width) {
    border: none;
    padding: 0;
  }
}

.social__item {
  list-style: none;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  mask-size: 28px 22px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #666666;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: rgba(104, 183, 56, 0.3);
  }
}

.social__link--vk {
  margin-right: 24px;
  mask-image: url("../../images/icons/stack.svg#vk");
}

.social__link--youtube {
  margin-right: 24px;
  mask-image: url("../../images/icons/stack.svg#youtube");
}

.social__link--telegram {
  mask-image: url("../../images/icons/stack.svg#telegram");
}
